*{
    margin: 0;
    padding: 0;
    list-style: none;
    font:Garamond;
}
#mainDivContainer{display: grid; grid-template-rows: repeat(3, auto); height: 100%;}
#mheadr{grid-row: 1;width: 100%; height: 150px; background-color: #145DA0; overflow:hidden;}
#headerContainer{display:flex; overflow: hidden; height: 100%;}
#hdrlogo{border-radius: 50%; width:auto; height: 130px;}
#headerText{display:flex; justify-content:center; align-content: center; align-self: center; margin-left: 5%;}
#headerText h1{color: #fdb417; font-size: 3em; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black; font:Garamond;}
#contents{grid-row:2; background-color: #B1D4E0; padding: 10px; height: auto;}
#contentsContain{display:flex; height: auto;}
#stories{flex-grow: 1;background-color:none; display:flex; align-items: center; justify-content:center; border-right: 6px double #000000;}
#daslideshow{}
#storiesContainer{overflow:hidden}
#submitContainer{height: 100%}
#submit{flex-grow: 2;background-color: none; width: auto; min-width: 300px; padding-left: 20px;}
#footer{grid-row: 3;display: flex; width: 100%; height: 90px;align-items: center; justify-content: center; background-color:brown;}
